.About {
  background-color: #ffefe4;
  height: auto;
  width: 100%;

}
.AboutMain{
  color: brown;
  overflow: auto;
  display: flex;
  /* justify-content: space-between; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.Paragraph {
  display: block;
  text-align: center;
}
.movingImg {
  max-height: 400px;
  width: auto;
}
