.About {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 600px;
  max-width: 1270px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}

.halfs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2em;
  /* border: 1px solid red; */
}

.half {
  width: 50%;
  height: auto;
  margin: auto;
  /* border: 1px solid gray; */
  padding: 2em 4em 2em 4em;
}

.half:first-child{
  padding-right: 0;
  min-width: 345px;
  /* border: 1px solid gray; */
}
.half:last-child{
  display: flex;
  justify-content: center;
  min-width: 500px;
  /* border: 1px solid gray; */
}

.profilePicture {
  width: 300px;
  height: 300px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 50%;
}

.paragraph{
  width: 100%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.1em;
  padding: 0;
  padding-bottom: 40px;
}
