.About {
  background-color: #ffefe4;
  height: auto;
  width: 100%;
  padding-bottom: 50px;
}
.AboutMain{
  padding-top: 50px;
  padding-bottom: 50px;
}
.movingImg {
  max-height: 400px;
  width: auto;
}
.Paragraph{
  text-align: center;
  width: 400px;
  color: brown;
}
.ParagAndPict{
  display: flex;
  justify-content: center;
}
