.App {
  height: auto;
  position: absolute;
  z-index: 0;
}

.App-footer {
  font-size: large;
  background-color: white;
}

.title {
  color: white;
  padding-left: 4em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}
