.Contact{
  /* background: linear-gradient(#cacaca, #9c9c9c); */
  height: auto;
  min-height: 600px;
  padding: 20px;
  position: relative;
}

.icons {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.icons li {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: white;
}
.icons li a {
  text-decoration: none;
  padding: 4px;
}

.icons li p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4em;
}

.first_section {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
  margin: auto;
  padding: 40px 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
