.Portfolio{
  height: auto;
  min-height: 600px;
  position: relative;
}

.Gifs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 20px;
}

.Tilt {
  padding: 10px;
  margin: 10px;
  /* height: auto; */
  width: 30%;
  min-width: 300px;
}
