.Portfolio{
  /* background-color: ; */
  /* background: linear-gradient(#ffefe4, #dcd0c8); */
  height: auto;
  min-height: 600px;
  padding: 20px;
  position: relative;
}

.Gifs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 20px;
}

.Tilt {
  padding: 10px;
  margin: 10px;
  height: auto;
  width: auto;
}
