.Skills{
  /* background-color: ; */
  background: linear-gradient(#b29a90, #ffefe4);
  height: auto;
  min-height: 600px;
  padding: 20px
}

.skills_container{
  display: flex;
  flex-direction: column;
}

.icons_list {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  width: 80%;
  list-style: none;
  font-size: 1em;
}

.icons_list li {
  text-align: center;
}

.icon {
  padding: 10px;
  font-size: 5em;
}
