.Skills{
  background: linear-gradient(#b29a90, #ffefe4);
  height: auto;
  min-height: 600px;
  padding: 20px
}

.skills_container{
  display: flex;
  flex-direction: column;
}

.icons_list {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  width: 88%;
  list-style: none;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

.icons_list li {
  text-align: center;
  padding: 2.5em;
}

.icon {
  font-size: 6em;
}
